body {
  background-color: black;
  margin: 0;
  font-family: "Avenir";
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  background-color: steelblue;
  color: white;
  margin: 0;
  padding: 20px 0;
}

.square {
  width: 30%;
  margin: 1.66%;
  background-color: red;
  float: left;
  padding-bottom: 30%;
  border-radius: 10%;
  transition: background 0.3s;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

h1+div {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
}

#status {
  display: inline-block;
  width: 20%;
  font-family: "Avenir";
  background: none;
  border: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
}

.changeButtonColor {
  color: white;
  background-color: steelblue;
}

#rgb {
  font-size: 200%;
}

button {
  font-family: "Avenir";
  background: none;
  border: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background-color: steelblue;
}







