body {
  border: 20px solid #bdc3c7;
  max-width: 700;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  font-family: source sans pro;
}

.date {
  text-transform: uppercase;
  color: #3498db;
  margin-left: 10px;
  margin-top: 5px;
  letter-spacing: 0.2rem;
}

h2{
  font-weight: bold;
  font-size: 2.0rem;
  color: #2c3e50;
  margin-left: 10px;
}

p {
  margin-left: 10px;
}

.first {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px; 
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post {
  margin-bottom: 20px;
}